<div class="cover">
    <div class="cover-photo">
        <img src="assets/img/photo.png" alt="A photo of Francisco Uicab">
    </div>
    <div class="cover-description">
        <h1>Hello! I'm<br> <strong>Francisco Uicab</strong></h1>
        <hr>
        <h2>Web developer</h2>
        <h4>I develop web solutions and help you bring your ideas to life.</h4>
    </div>
</div>
<div class="about-me">
    <div class="personal-info">
        <h2 class="fancy">Who am I?</h2>
        <table class="double-col-table">
            <tr>
                <td>Full name</td>
                <td>Francisco Rafael Uicab Cox</td>
            </tr>
            <tr>
                <td>Age</td>
                <td>26</td>
            </tr>
            <tr>
                <td>Location</td>
                <td>Mérida, Yucatán, México</td>
            </tr>
            <tr>
                <td>Languages</td>
                <td><ul class="no-style">
                    <li>Advanced English</li>
                    <li>Native Spanish</li>
                    <li>Conversational French</li>
                </ul></td>
            </tr>
        </table>
    </div>
    <div class="skillset">
        <h2 class="fancy">What am I good for?</h2>
        <h4>My <i>bread and butter</i></h4>
        <skill-chip name="Javascript" />
        <skill-chip name="Typescript" />
        <skill-chip name="HTML" />
        <skill-chip name="CSS" />
        <skill-chip name="SASS" />
        <skill-chip name="LESS" />
        <skill-chip name="JSON" />
        <skill-chip name="Git" />
        <skill-chip name="Angular" />
        <skill-chip name="React" />
        <skill-chip name="jQuery" />
        <skill-chip name="Wordpress" />
        <skill-chip name="Frontend" />
        <skill-chip name="Responsive Design" />
        <skill-chip name="UI/UX" />
        <hr>
        <h4>Technologies I know well</h4>
        <skill-chip name="PHP" />
        <skill-chip name="MySQL" />
        <skill-chip name="Firebase" />
        <skill-chip name="Bootstrap" />
        <skill-chip name="Material Design" />
        <skill-chip name="Webflow" />
        <skill-chip name="Shopify" />
        <skill-chip name="React Native" />
        <skill-chip name="Mobile Apps" />
        <skill-chip name="SEO" />
        <hr>
        <h4>Under development</h4>
        <skill-chip name="C#" />
        <skill-chip name="Backend" />
        <skill-chip name="Fullstack" />
        <hr>
        <h4>Skills I'd like to learn</h4>
        <skill-chip name="Python" />
        <skill-chip name=".Net" />
        <skill-chip name="Java" />
        <skill-chip name="Artificial Intelligences" />
    </div>
</div>