<h1>Portfolio</h1>
<hr>
<div class="portfolio-wrapper" id="portfolio-gallery">
    <div class="portfolio-item">
        <div class="thumbnail">
            <img src="assets/img/shark.jpg" alt="">
        </div>
        <div class="main-content">
            <h2>Title</h2>
            <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus sunt facilis quaerat quasi eaque repellat consequatur fugiat sit incidunt nihil rem optio aperiam, officia voluptate accusamus velit laudantium magni praesentium!</p>
            <div class="skillset">
                <span class="chip">HTML</span>
                <span class="chip">CSS</span>
                <span class="chip">Javascript</span>
                <span class="chip second">Angular</span>
            </div>
        </div>
    </div>
</div>