@use '_mixins' as mixin;
@font-face { font-family: "Kanit Light"; src: url(../assets/fonts/Kanit-Light.ttf); }
@font-face { font-family: "Kanit"; src: url(../assets/fonts/Kanit-Regular.ttf); }
@font-face { font-family: "Kanit Bold"; src: url(../assets/fonts/Kanit-SemiBold.ttf); }
@font-face { font-family: "VT323"; src: url(../assets/fonts/VT323-Regular.ttf); }
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Noto+Emoji:wght@300..700&family=Noto+Sans+Symbols+2&family=Noto+Sans+Symbols:wght@100..900&display=swap');

$shade-10: rgb(32,64,128,0.1);
$shade-40: rgb(32,64,128,0.4);
$shade-80: rgb(32,64,128,0.8);
$topBoxTransitionTime: 0.4s;
$topBoxTransitionIn: opacity $topBoxTransitionTime ease, transform $topBoxTransitionTime ease, z-index 0s, visibility 0s;
$topBoxTransitionOut: opacity $topBoxTransitionTime ease, transform $topBoxTransitionTime ease, z-index 0s $topBoxTransitionTime, visibility 0s $topBoxTransitionTime;
$bodyBackground: linear-gradient(to top, #fff8, #fffa),
		radial-gradient(#758dc1  0%, transparent 50%) 0vw 0vh no-repeat,
		radial-gradient(#8dbdff, transparent 50%) -110vw -90vh,
		radial-gradient(#99ffc5dd 0%, transparent 50%) -14vw -87vh,
		radial-gradient(#b6fcffcc, transparent 50%) -58vw -5vh,
		linear-gradient(to top, #2ba7ff 50%, #baccff 100%);
$simplifiedBodyBackground: linear-gradient(to top, #fff8, #fffa),
		radial-gradient(circle at 0% 33%, #b6fcffcc 0%, transparent 50%) -14vw -87vh,
		linear-gradient(to top, #2ba7ff 50%, #baccff 100%);

html{
	overflow-y: scroll;
	scrollbar-gutter: stable;

	::-webkit-scrollbar{
		background: $simplifiedBodyBackground;
		width: 12px;
		padding-right: 4px;
	}

	::-webkit-scrollbar-thumb{
		@include mixin.box-style;
		background-color: $shade-80;
		width: 8px;
		padding-right: 4px;
		// margin-right: 4px;
	}

	// >*::-webkit-scrollbar{
	// 	background: transparent;
	// 	width: 12px;
	// }
}

:root {
	--main-bg: #eff9ff;
	--text-color: #31344b;
	--title-color: #12326d;
	--subtitle-color: #446299;
	--lighdark: #536c9b;
	--highlight-color: #3366aa;
	--border: 1px solid #7cafdb42;
	--border-radius: 12px;
	--subtle-bg: rgba(255,255,255,0.5);
	--subtle-border: #daeafe;
	--blur: blur(24px);
	--sans: "Kanit Light", "Noto Color Emoji", system-ui, 'Segoe UI', Roboto, sans-serif;
	--heading: "Kanit", system-ui, 'Segoe UI', Roboto, sans-serif;
	--mono: "VT323", ui-monospace, Consolas, monospace;
	font: 18px var(--sans);
}


*{
	box-sizing: border-box;
}

// *::-webkit-scrollbar{
// 	// background-color: transparent;
// 	width: 8px;
// 	margin-left: -8px;
// }

// *::-webkit-scrollbar-thumb{
// 	@include mixin.box-style;
// 	background-color: $shade-80;
// 	width: 8px;
// 	margin-right: 4px;
// }

body{
	margin: 0;
	background: $bodyBackground;
	background-attachment: fixed;

	*::-webkit-scrollbar{
		background: transparent;
	}
	*::-webkit-scrollbar-thumb{
		@include mixin.box-style;
		background-color: $shade-40;
		width: 8px;
	}
}

#root > div {
	height: 100vh;
	display: flex;
	flex-direction: column;

	main {
		flex: 1 0 auto;
		width: 1480px;
		max-width: calc(100% - 8vw);
		margin: auto;
		padding: 48px 1rem 24px;
		// background-color: var(--subtle-bg);
		// border: var(--border);
	}
}

h1{
    font-size: 64px;
    font-family: 'Kanit Bold';
	color: var(--title-color);
	margin-bottom: 0;
	line-height: 1.15;
	text-align: center;
}

h2{
    font-size: 28px;
    font-family: 'Kanit Bold';
    color: var(--title-color);
}
h2.fancy{
    color: var(--main-bg);
    background-color: var(--lighdark);
    display: inline-block;
    border-radius: var(--border-radius);
    padding: 8px 24px 4px;

	&.contained{
		width: 100%;
		// padding: 0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}

h3{
    font-size: 24px;
    font-family: 'Kanit Bold';
    color: var(--highlight-color);
}

h1 strong{
    color: var(--highlight-color);
}

h4{
    font-size: 20px;
    font-family: 'Kanit Bold';
    margin: 0 0 8px;
}

hr{
    border-style: none;
    height: 2px;
	margin: -48px 0 8px;
	width: 100%;
	// background: linear-gradient(to right, var(--subtle-border), #cadaee, var(--subtle-border));
	// background: linear-gradient(to right, transparent, rgba(255,255,255,0.4), transparent);
	background: radial-gradient(ellipse, rgba(255,255,255,0.33), transparent 50%) 50% 32px no-repeat;
	background-size: 75% 64px;
	height: 64px;
	border-bottom: 2px solid transparent;
	border-image: linear-gradient(to right, transparent, rgba(255,255,255,0.4), transparent) 1;
	// box-shadow: 0px -2px 5px rgba(0,0,0,0.1);
    // background: linear-gradient(to right, rgba(0,0,0,0), var(--title-color), rgba(0,0,0,0) );
}

p{
    font-size: 18px;
    font-family: 'Kanit Light';
    line-height: 1.25;
    text-align: justify;
}

a{
    opacity: 0.9;
    text-decoration: none;
    transition: 0.1s ease;
}

table.double-col-table{
    border-collapse: collapse;
    font-size: 18px;
	tr:not(:last-child){
		border-bottom: var(--border);
	}
	
	tr td{
		padding: 8px;
	}
	
	tr td:first-child{
		text-align: right;
		font-weight: bold;
	}
}

ul{
	margin: 0;
	padding: 0;
	// padding-left: 12px;
	// list-style: '• ';
	list-style: none;
}

.content-box{
	background-color: var(--subtle-bg);
	border-radius: var(--border-radius);
	box-shadow: 0 12px 24px rgba(32,64,128,0.05), 0 4px 8px rgba(32,64,128,0.1);
}

.box-content-overlay{
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	background: linear-gradient(to bottom, transparent, $shade-80);
	visibility: hidden;
	opacity: 0;
	// display: none;
	z-index: -1;
	// transition: $topBoxTransitionOut;

	&.animated{
		animation: overlayOut $topBoxTransitionTime;
	}

	&.active{
		// transition: $topBoxTransitionIn;
		animation: overlayIn $topBoxTransitionTime;
		visibility: visible;
		opacity: 1;
		z-index: 9;
		// display: inherit;
	}
}

@keyframes boxIn {
	0% { opacity: 0; visibility: hidden; transform: scale(0.95) translateY(-12px); }	
	100% { opacity: 1; visibility: visible; transform: scale(1) translateY(0); }	
}

@keyframes boxOut {
	0% { opacity: 1; visibility: visible; transform: scale(1) translateY(0); }	
	100% { opacity: 0; visibility: hidden; transform: scale(0.95) translateY(-12px); }	
}

@keyframes overlayIn {
	0% { opacity: 0; visibility: hidden; }	
	100% { opacity: 1; visibility: visible; }	
}

@keyframes overlayOut {
	0% { opacity: 1; visibility: visible; }	
	100% { opacity: 0; visibility: hidden; }	
}

