.cover-description{
    h1{
        line-height: 1.15;
        margin-bottom: 0px;
    }
    h2{
        margin: 0;
        margin-bottom: 16px;
        line-height: 1.15;
        /* text-transform: uppercase; */
    }
    h4{
        margin-top: 8px;
        line-height: 1.15;
        font-size: 18px;
        color: var(--subtitle-color);
        width: 280px;
    }
}

.about-me{
    display: flex;
    
    .personal-info{
        flex: 0 1 360px;
    }
    
    .skillset{
        flex: 1 1 50%;
    }
}