@use '_mixins' as mixin;
@import './general.scss';

h4.disclaimer{
    text-align: center;
    font-size: 14px;
    margin-bottom: 24px;
    font-family: "Kanit Light";
    color: var(--subtitle-color)
}

.portfolio-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding-bottom: 64px;
    justify-content: stretch;
    position: relative;


    .portfolio-item{
        &:hover{
            transform: translateY(-4px);
            background-color: #fffb;
            cursor: pointer;
        }

        &:active{
            background-color: #fff5;
        }
    }

    .portfolio-item, .portfolio-detail{
        @include mixin.box-style;
        display: flex;
        // background-color: #f9f9f9aa;
        // border-radius: var(--border-radius);
        // border: var(--border);
        max-width: 100%;
        flex: 1 0 25%;
        flex-wrap: wrap;
        gap: 12px;
        padding: 12px;
        transition: 0.2s ease;
    
        .thumbnail{
            flex: 1 1 40%;
            min-width: 200px;
            height: 200px;
        
            img{
                object-fit: cover;
                height: 100%;
                width: 100%;
                border-radius: var(--border-radius);
                border: var(--border);
            }
        }
    
        .main-content{
            flex: 1 1 40%;
            padding-right: 24px;
            
            h2{
                margin: 0.25em 0 0;
                line-height: 1;
            }
            .timespan{
                background-color: var(--text-color);
                width: auto;
                display: inline-block;
                color: #ffffff;
                padding: 2px 12px;
                border-radius: var(--border-radius);
            }
            p{
                font-size: 16px;
                line-height: 1.33;
                text-align: left;
            }
        }

        .skillset{
            flex: 1 1 100%;
            border-top: var(--border);
            margin: 0 -12px;
            padding: 12px 12px 0;
        }
    }

    .portfolio-detail{
        width: 90%;
        max-width: 90%;
        max-height: 80vh;
        overflow-y: auto;
        background-color: rgba(255,255,255,1);
        position: fixed;
        left: 5%;
        top: 96px;
        // backdrop-filter: blur(4px);
        visibility: hidden;
        opacity: 0;
        z-index: 10;
        margin-bottom: 64px;
        flex-wrap: wrap;
        // transition: $topBoxTransitionOut;

        &.animated{
            animation: boxOut $topBoxTransitionTime;
        }

        .portfolio-content-details{
            flex: 1 1 320px;
        }
    
        &.active{
            visibility: visible;
            opacity: 1;
            animation: boxIn $topBoxTransitionTime;
        }
    
        .thumbnail{
            flex: 1 1 70%;
            height: auto;
        }

        .main-content{
            margin-bottom: 12px;
        }
    }
}
