span.chip{
    display: inline-block;
    color: var(--main-bg);
    background-color: var(--highlight-color);
    padding: 2px 12px;
    margin-right: 2px;
    margin-bottom: 6px;
    border-radius: var(--border-radius);
}

span.chip.second{
    background-color: #339944;
}

span.chip.third{
    background-color: #aa6633;
}