<html>
    <head>
        <!-- <script src="https://kit.fontawesome.com/902554b0d1.js" crossorigin="anonymous"></script>
        <script src="./jquery-3.6.4.min.js"></script>
        <link rel="stylesheet" href="styles.css"/>
        <title>F Uicab</title> -->
    </head>
    <body>
        <div class="navbar">
            <ul>
                <li><a class="active" href="./index.html">Home</a></li>
                <li><a href="./my-experience.html">My experience</a></li>
                <li><a href="./portfolio.html">Portfolio</a></li>
                <li><a href="./code_samples.html">Code samples</a></li>
            </ul>
        </div>
        <div class="container">
            <div class="cover">
                <div class="cover-photo">
                    <img src="img/photo.png" alt="A photo of Francisco Uicab">
                </div>
                <div class="cover-description">
                    <h1>Hello! I'm<br> <strong>Francisco Uicab</strong></h1>
                    <hr>
                    <h2>Web developer</h2>
                    <h4>I develop web solutions and help you bring your ideas to life.</h4>
                </div>
            </div>
            <div class="about-me">
                <div class="personal-info">
                    <h2 class="fancy">Who am I?</h2>
                    <table class="double-col-table">
                        <tr>
                            <td>Full name</td>
                            <td>Francisco Rafael Uicab Cox</td>
                        </tr>
                        <tr>
                            <td>Age</td>
                            <td>26</td>
                        </tr>
                        <tr>
                            <td>Location</td>
                            <td>Mérida, Yucatán, México</td>
                        </tr>
                        <tr>
                            <td>Languages</td>
                            <td><ul class="no-style">
                                <li>Advanced English</li>
                                <li>Native Spanish</li>
                                <li>Conversational French</li>
                            </ul></td>
                        </tr>
                    </table>
                </div>
                <div class="skillset">
                    <h2 class="fancy">What am I good for?</h2>
                    <h4>My <i>bread and butter</i></h4>
                    <span class="chip">Javascript</span>
                    <span class="chip">HTML</span>
                    <span class="chip">CSS</span>
                    <span class="chip">jQuery</span>
                    <span class="chip">Sass / Less</span>
                    <span class="chip">JSON</span>
                    <span class="chip">Git</span>
                    <span class="chip second">Angular</span>
                    <span class="chip second">React</span>
                    <span class="chip second">jQuery</span>
                    <span class="chip second">Wordpress</span>
                    <span class="chip third">Responsive design</span>
                    <hr>
                    <h4>Technologies I know well</h4>
                    <span class="chip">PHP</span>
                    <span class="chip">Typescript</span>
                    <span class="chip">MySQL</span>
                    <span class="chip">Firebase</span>
                    <span class="chip second">Bootstrap</span>
                    <span class="chip second">Material Design</span>
                    <span class="chip second">Webflow</span>
                    <span class="chip second">Shopify</span>
                    <span class="chip second">React Native</span>
                    <span class="chip third">User Experience</span>
                    <span class="chip third">Mobile Apps</span>
                    <span class="chip third">SEO</span>
                    <hr>
                    <h4>Under development</h4>
                    <span class="chip">C#</span>
                    <span class="chip third">Backend / Fullstack</span>
                    <hr>
                    <h4>Skills I'd like to learn</h4>
                    <span class="chip">Python</span>
                    <span class="chip">.Net</span>
                    <span class="chip">Java</span>
                    <span class="chip third">Artificial Inteligence</span>
                </div>
            </div>
            <i>Website still under development.</i>
        </div>
    </body>
    <footer>
        <a title="My LinkedIn profile" target="_blank" href="https://www.linkedin.com/in/fuicab/">LinkedIn</a>
        <span class="separator"> | </span>
        <a title="My resume" target="_blank" href="./CV8.pdf">My Resume</a>
    </footer>
</html>