<html>
    <head>
        <!-- <script src="https://kit.fontawesome.com/902554b0d1.js" crossorigin="anonymous"></script>
        <script src="./jquery-3.6.4.min.js"></script>
        <link rel="stylesheet" href="styles.css"/>
        <title>F Uicab</title> -->
    </head>
    <body>
        <navbar></navbar>
        <div class="container">
            <router-outlet></router-outlet>
            <i>Website still under development.</i>
        </div>
    </body>
    <app-footer></app-footer>
</html>